.card {
  border: 5px solid #046A48;
  border-radius: 12px;
  margin: auto;
  margin-top: 20px;
  width: 60%;
  height: 500px;
}

.card-header {
  padding: 10px 0;
  text-align: center;
  font-size:40px;
  font-weight: bold;
  height: 60px;
  background-color: #046A48;
  color: #FFFFFF;	
}